{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>My Home Page!</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/dinnerwfam.png') }}" alt="Family Dinner" height="450">
                    <div class="card-body">
                    <h5 class="card-title">All about <mark>me</mark>!</h5>
                    <p class="card-text">
                        <ol>
                            <li>My name is Joselyn Elise Soriano Anda</li>
                            <li>I am a junior at Del Norte High School and I am 16 years old.</li>
                            <li>I joined APCSP this year with no experience in coding at all. It is still really tough but I am looking forward to learning more about it.</li>
                            <li>I am very family orientated and you can learn more about my family on the link below!</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">More about my family!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/bjjgirls.png') }}" alt="BJJ girls" height="350">
                    <div class="card-body">
                    <h5 class="card-title">My sport and hobby is <mark>Brazilian Jiu-Jistu</mark>! But what is that?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Brazilian Jiu-Jistu is a martial art that consists of grappling, wrestling, and submissions (like arm locks, chokes, etc.)</li>
                            <li>I started doing this sport in 2012 after my uncle and parents.</li>
                            <li>We started expanding our gym and eventually branched out to make our own team, called 1802 Jiu-Jistu!</li>
                            <li>It is still our sport but also a family-owned and ran business, that my whole family does and helps with. It is another thing that makes my family very close to each other,</li>
                            <li>My role in this business to help out is assisting in teaching toddlers classes, kids classes, as well as helping out in the adult and teen classes. I am a role model and leader to many at the gym and I am always down to help spread knowledge, help others, and expand on my own knowledge as well.</li>
                            <li>Here is a <a href= "https://www.youtube.com/watch?v=RaerwRZCmMA" class="btn btn-dark"> video</a> of my first ever tournament match! I definitely did not start too early LOL.</li>
                        </ol>
                    </p>
                    <a href="https://1802jiujitsu.com/" class="btn btn-primary">Click here for our official website!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/singingwky.png') }}" alt="Singing with Ky" height="400">
                    <div class="card-body">
                    <h5 class="card-title">My passion and talent in <mark>music :)</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>A passion, talent, and hobby of mine is music, more specifically singing.</li>
                            <li>I have adapted a love for singing because of how I grow up hearing music and singing everywhere. Especially from my Papa Joe and my mom,</li>
                            <li>I not am in certain clubs and music groups such as Chamber Choir at Del Norte, Tri-M, MCO, and more. </li>
                            <li>I have even performed in talent shows and at the Filipino Culture Night, or PCN. My sister and I sang a song in Tagalog to appreciate or culture and its big value in music.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}